:root {
    --main-body-color: #EDF6F9;
    --medium-dark-shade-of-cyan-: #264861;
    --light-shade-of-red-orange: #FFDDD2;
    --light-gray: #ddd;
}

html {
    scroll-padding-top: 60px; /* max-height of sticky nav bar */
}

body {
    font-family: sans-serif;
    margin: 0;
    background-color: var(--main-body-color);
}

table {
    width: 100%;
    table-layout: auto;
}

header {
    color: white;
    width: 100%;
    height: 100px;
    background-color: var(--medium-dark-shade-of-cyan-);
    z-index: 1;
    top: 0;

}

#header_p1{
    text-align: center; 
    font-size: xxx-large; 
    margin: 0px 0px 0px 0px;
}

#header_p1 b {    
    font-style: italic;
    text-shadow: 2px 2px black;
}

#header_p2{
    text-align: center; 
    font-size: medium; 
    margin: 15px 0px 5px 0px;
}

main {
    padding: 1.5em;
    background-color: white;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*footer element */
footer {
    padding: 1.5em;
/*background-color: #bee3db; */
    background-color: var(--medium-dark-shade-of-cyan-);
    color: white;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

footer #leaseInfo {
    display: none;
}

footer label {
    cursor: pointer;
}

footer label::after {
    content: " ▼";
}

footer label, .fixed_nav_bar {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

footer #leaseInfoText {
    display: none;
}

footer input:checked ~ #leaseInfoText {
    text-align: justify;
    display: block;
}

footer input:checked + label::after {
    content: " ▲";
}

footer ul li {
    display: inline-block;
}

footer ul li a {
    color:white;
}

footer ul li:not(:last-child):after {
    content: " |";
}


/*for navigation bar*/
nav.fixed_nav_bar {
    padding: 0;
    background-color: var(--medium-dark-shade-of-cyan-);
    /* overflow: hidden; */
    /* position: -webkit-sticky; /* Safari*/
    position: sticky;
    top: 0;
    width:100%;
    z-index: 1; /* prevent navigation from getting covered by video element */
    /* height: 46px; */
    
    /* border:1px solid #264861; */

}

nav.fixed_nav_bar ul {
    list-style-type: none;
    margin: 0;
    position: relative;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    z-index: 1; /* prevent navigation list from getting covered by Cars A-Z menu brand logos */
}

nav.fixed_nav_bar li {
    /* float: left; */
    display: inline-block;
    width: 11%;
}

nav.fixed_nav_bar li a {
    color: white;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

nav.fixed_nav_bar li a:hover {
    color: var(--medium-dark-shade-of-cyan-);
}

nav.fixed_nav_bar li:hover:not(.active) {
    color: var(--medium-dark-shade-of-cyan-);
    background-color: var(--light-shade-of-red-orange);
}

/* since only Home require <a>
to avoid override nav.fixed_nav_bar ul li
just create a dropdown_list class for other li 
(except use for 'home') */
.dropdown_list {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

.dropdown_menu > div{
    display: block;
}

#dropdown_menu_for_carlist{
    height: 500px;
    overflow: scroll;
}

.dropdown_menu > div > a ~ div{
    display: none;
    position: absolute;
    background-color: var(--medium-dark-shade-of-cyan-);
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    height: 200px;
    overflow: scroll;
}

.dropdown_menu > div > a + input:checked + label + .carlist_submenu{
    display: block;
    
}

#up_button{
    opacity: 0;
}

#down_button{
    opacity: 1;
}

.dropdown_menu > div > a + input:checked + label > #down_button{
    opacity: 0;
}

.dropdown_menu > div > a + input:checked + label > #up_button{
    opacity: 1;
}

.dropdown_menu > div > a ~ label{
    display: inline;
}

.dropdown_menu > div > a ~ label > img:hover{
    cursor: pointer;
    filter: opacity(50%);
}

.dropdown_menu > div > a + input{
    display: none;
}

.dropdown_list:hover .dropdown_menu {
    display: block;
}

.dropdown_menu {
    margin-left: -16px;
    margin-top: 14px;
    display: none;
    position: absolute;
    background-color: var(--medium-dark-shade-of-cyan-);
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown_list:hover .dropdown_menu {
    display: block;
}

.dropdown_menu > a , .carlist_submenu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown_menu > div > a #dropdown_menu_carlist{
    display: inline-block;
}

.carlist_dropdown_button{
    width: 1em;
    height: 1em;
    display: inline;
}

nav.fixed_nav_bar li a.active, nav.fixed_nav_bar li.active, .dropdown_menu a:hover, .dropdown_menu a.active, .dropdown_menu>div:hover{
    color: var(--medium-dark-shade-of-cyan-);
    background-color: var(--light-shade-of-red-orange);
}

/* Car List Menu */
nav input#car-list {
    display: none;
}
nav #car-list-button {
    padding: 0;
}
nav #car-list-button label {
    cursor: pointer;
    display: inline-block;
    padding: 14px 0;
    width: 100%;
}
nav input#car-list:checked ~ ul li#car-list-button {
    color: var(--medium-dark-shade-of-cyan-);
    background-color: var(--light-shade-of-red-orange);
}
nav input#car-list:checked ~ div#car-list-menu {
    display: block;
}
nav div#car-list-menu {
    display: none;
    cursor: auto;
    max-height: 65vh;
    padding-bottom: 5vh;
    margin: 24px;
    background-color: var(--medium-dark-shade-of-cyan-);
    overflow-y: auto;
}
nav #car-list-menu > section {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
nav #car-list-menu section article {    
    flex-basis: 230px;
}
nav #car-list-menu section article input {
    display: none;
}
nav #car-list-menu section article input:checked ~ div {
    display: block;
}
nav #car-list-menu section article label {
    cursor: pointer;
    color: white;
    display: block;
    font-size: 1.17em;
    font-weight: bold;
    line-height: 50px; /* ensure label text is vertically middle */
    margin-block-start: 1em;
    margin-block-end: 1em;
}
nav #car-list-menu section article label::before {
    background-image: url(./../img/brands-to-sprite.png);
    content: " ";
    display: inline-block;    
    filter: drop-shadow(0 0 4px white);
    -webkit-filter: drop-shadow(0 0 4px white);
    height: 100px;
    width: 100px;
    margin: -25px -18px -25px 0;
    transform: scale(0.5);
    vertical-align: middle;
}
nav #car-list-menu input#ABARTH + label::before { background-position: 0 0;}nav #car-list-menu input#ALFA-ROMEO + label::before { background-position: -100px 0;}nav #car-list-menu input#AUDI + label::before { background-position: -200px -30px;height: 43px;}nav #car-list-menu input#BMW + label::before { background-position: -400px 0;}nav #car-list-menu input#CITROEN + label::before { background-position: -700px -15px;height: 80px;}nav #car-list-menu input#CUPRA + label::before { background-position: -700px -500px;}nav #car-list-menu input#DACIA + label::before { background-position: -900px -10px;height: 90px;}nav #car-list-menu input#DS + label::before { background-position: -500px -500px;}nav #car-list-menu input#FIAT + label::before { background-position: -200px -100px;}nav #car-list-menu input#FORD + label::before { background-position: -300px -125px;height: 50px;}nav #car-list-menu input#HYUNDAI + label::before { background-position: -500px -120px;height: 60px;}nav #car-list-menu input#JAGUAR + label::before { background-position: -800px -120px;height: 60px;}nav #car-list-menu input#JEEP + label::before { background-position: -900px -130px;height: 40px;}nav #car-list-menu input#KIA + label::before { background-position: 0 -220px;height: 60px;}nav #car-list-menu input#LEXUS + label::before { background-position: -400px -215px;height: 75px;}nav #car-list-menu input#MAZDA + label::before { background-position: -700px -210px;height: 85px;}nav #car-list-menu input#MERCEDES + label::before { background-position: -800px -200px;}nav #car-list-menu input#MG + label::before { background-position: -900px -200px;}nav #car-list-menu input#MINI + label::before { background-position: 0 -330px;height: 50px;}nav #car-list-menu input#NISSAN + label::before { background-position: -300px -310px;height: 90px;}nav #car-list-menu input#PEUGEOT + label::before { background-position: -500px -315px;height: 80px;}nav #car-list-menu input#POLESTAR + label::before { background-position: 0 0;}nav #car-list-menu input#RENAULT + label::before { background-position: 0 -400px;}nav #car-list-menu input#SEAT + label::before { background-position: -200px -400px;}nav #car-list-menu input#SKODA + label::before { background-position: -400px -400px;}nav #car-list-menu input#SMART + label::before { background-position: -500px -430px;height: 40px;}nav #car-list-menu input#SUBARU + label::before { background-position: -701px -420px;height: 60px;}nav #car-list-menu input#SUZUKI + label::before { background-position: -800px -400px;}nav #car-list-menu input#TESLA + label::before { background-position: -1900px -400px;height: 75px;}nav #car-list-menu input#TOYOTA + label::before { background-position: 0 -515px;height: 75px;}nav #car-list-menu input#VAUXHALL + label::before { background-position: -100px -500px;}nav #car-list-menu input#VOLVO + label::before { background-position: -300px -500px;}nav #car-list-menu input#VW + label::before { background-position: -200px -500px;}
nav #car-list-menu input#POLESTAR + label::before {
    background-image: url(./../img/car/polestar/polestar.jpg);
}
nav #car-list-menu section article label::after {
    content: " ▼";
}
nav #car-list-menu section article input:checked + label::after {
    content: " ▲";
}
nav #car-list-menu section article div {
    display: none;
}
nav #car-list-menu section article a {
    color: white;
    display: block;
    padding: 8px 16px;
    text-decoration: none;
}

.flex-container {
    max-width:861px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:auto;
}

.flex-item {
    padding:8px;
    margin:8px;
    flex-basis: 206px;
    flex-grow: 1;
    background-color: var(--main-body-color);
}

.car-details-image {    
    width: 300px;
    margin-left: -30px;
    margin-right: -50px;
}

.car-details-image:hover {
    animation: 4s car-bounce infinite;
}

@keyframes car-bounce {
    5% {
        margin-top: -15px;
        padding-bottom: 15px
    }    
    7.5% {
        margin-top: 0;
        padding-bottom: 0px
    }    
    10% {
        margin-top: -10px;
        padding-bottom: 10px
    }    
    10% {
        margin-top: 0;
        padding-bottom: 0px
    }    
    15% {
        margin-top: -5px;
        padding-bottom: 5px
    }    
    17.5% {
        margin-top: 0;
        padding-bottom: 0px
    }
}

@media (hover:hover) {
    /* https://stackoverflow.com/questions/23885255/how-to-remove-ignore-hover-css-style-on-touch-devices */
    .car-details-link:hover {
        background-color: white;
        border: solid black;
        display: inline-block;        
        margin-left: -200px;
        margin-right: -200px;
        padding: 0.67rem;
        position: relative;
        max-width: 600px;
        width: 90vw;
    }
    .car-details-link:hover img {
        width: 100%;
    }
}

.car-features {
    display: inline-block;
    text-align: left;
}

@media only screen and (max-width: 1030px) {
    
    nav.fixed_nav_bar ul{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-left:0;
        margin-right: 0;
    }

    nav.fixed_nav_bar ul li{
        width: fit-content;
    }
}

/*The smallest phone width is 320px*/
@media only screen and (max-width: 500px) and (min-width: 320px){

    #header_p1{
        font-size: x-large;
    }

    #header_p2{
        font-size: small;
    }
}

.about-ling-content article {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.about-ling-content article h1 {
    font-size: 2em;
}

.about-ling-content article .title {
    flex-basis: 30%;
    min-width: 225px;
}

.about-ling-content article .title h2 {
    margin-right: 16px;
}

.about-ling-content article div {
    flex-basis: 70%;
    flex-grow: 1;
}

.about-ling-content p {
    font-size: 17px;
    text-align: justify;
}

/*
.about-ling-content table {
    padding: 20px 20px;
}
.about-ling-content td {
    text-align: left;
    vertical-align: top;
}
.about-ling-content tr td:not(:last-child) {
    padding-right: 20px;
}
*/

.about-ling-content article ul {
    list-style: none;
    padding-inline-start: 0px;
}

.about-ling-content li {
    padding: 4px 0px;
}

.about-ling-content ul li:last-child {
    padding-bottom: 0px;
}

.about-ling-content li a:not(:hover) {
    text-decoration: none;
    color: rgb(49, 49, 255);
}

.about-ling-content hr {
    margin: 40px 0px;
}


/* .video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.responsive-video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
} */

.video-container {
    background-color: var(--medium-dark-shade-of-cyan-);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.video-container video {
    flex-basis: 500px;
    max-width: 100%;
    width: 500px;
}

.video-container #business-info {
    color: white;
    flex-basis: 260px;
    text-align: center;
}

.video-container  #business-info a {
    color: white;
}

.social {
    display: block;
    margin: auto;
    width: fit-content;
}

.social-border .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.social-border .fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.social-border {
    border: 2px solid #ddd; 
    border-radius: 15px; width: fit-content;
    display: block;
    margin: auto;
    padding: 0 20px;
    margin-top: 20px;
}

.multiline-text {
    white-space: pre-wrap;
}

.button-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.button-section button, .button-section input {
    width: 30%;
    margin: 5px;
    padding: 10px 0;
    color: white;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    border-width: 2px;
    border-color: white;
}

.button-section input {
    width: 320px;
    color: black;
    font-weight: normal;
    border-color: rgba(128, 128, 128, 0.5);
}

.button-section .small-button {
    /* width: 10%; */
    width: 80px;
    min-width: fit-content;
}

.positive-button {
    background-color: green;
}

.negative-button {
    background-color: red;
}

.button-section button:hover {
    color: black;
    border-color: black;
}

.positive-button:hover {
    background-color:rgba(0, 128, 0, 0.651) ;
}

.negative-button:hover {
    background-color: rgba(255, 0, 0, 0.651);
}

.error-message {
    display: block;
    margin: auto;
    color: red;
    text-align: center;
    font-size: medium;
    font-style: italic;
}

.success-message {
    display: block;
    margin: auto;
    color: green;
    text-align: center;
    font-size: medium;
    font-style: italic;
}

table, table th, table td {
    border: 2px solid black;
    border-collapse: collapse;
    font-size: 15px;
}

table th, table td {
    padding: 0 5px;
    height: 30px;
    /* font-size: small; */
}

table td.left-text {
    text-align: left;
}

table td.right-text {
    text-align: right;
}

table td.center-text {
    text-align: center;
}

div.view-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-bottom: 10px;
}

div.view-content table {
    width: fit-content;
    background-color: white;
}

div.view-content table tr td {
    max-width: 300px;
    text-align: justify;
}

div.view-content table tr td:first-child {
    font-weight: bold;
    text-align: right;
}

div.view-content table tr td img {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 200px;
}

button {
    background-color: rgb(76, 192, 157);
    max-width: 250px;
}

form button {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px 0;
    color: white;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    border-width: 2px;
    border-color: white;
    width: 100%;
    min-width: 80px;
    max-width: 500px;
    /* min-height: 35px; */
}

form button:hover {
    color: black;
    border-color: black;
}
