table {
    margin: auto;
    text-align: center;
}

table, th, td {
    border-color: black;
    border-style: solid;
    border-collapse: collapse;
}

th, td {
    padding: 0.67rem;
}

#car-confirmation-table img {
    max-height: 90px;
}

#chart {
    margin: 0.67rem auto;
    height: 200px !important;
    width: 500px;
}